.action {
  padding-bottom: 120px;
}

.action__title {
  margin: 0 auto;
  margin-top: 135px;
  color: #102654;
  width: 115px;
  color: #102654;
  font-family: $ff-alumni;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.62px;
}

.action__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  margin-top: 31px;
}

.action__container {
  display: flex;
}

.action__grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 40px;
}

.action__main {
  background: #ED0233;
  color: #ffffff;
  font-family: $ff-roboto;
  display: flex;
  flex-direction: column;
  font-style: normal;
  padding: 33px 48px 0px 43px;
  margin-left: 18px;
}

.action__year {
  font-size: 28px;
  font-weight: 700;
  line-height: 156%;
  margin: 0;
  width: 60px;
}

.action__cost {
  width: 160px;
  font-size: 70px;
  font-weight: 700;
  line-height: 60px;
}

.action__text {
  width: 189px;
  margin-top: 25px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}

.action__link {
  margin-top: 189px;
  width: 85px;
  color: #ffffff;
  font-family: $ff-roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  text-decoration: underline;
}

.action__link:hover{
  opacity: 0.8;
}

.action__link:focus{
  border: 1px solid #FFF;
}

.action__card {
  padding: 23px 28px 31px;
  display: flex;
  flex-direction: column;
  border: 7px solid transparent;
  border-image: linear-gradient(150deg, #b80027 0, #003d85 75%);
  border-image-slice: 1;
  width: 560px;
}

.action__title-dop {
  margin: 0;
  width: 235px;
  color: #1C3374;
  font-family: $ff-roboto;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

.action__text-dop {
  width: 345px;
  color: #1C3374;
  font-family: $ff-roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin-top: 8px;
}

.action__link-dop {
  width: 85px;
  color: #1C3374;
  font-family: $ff-roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  margin-top: 70px;
  text-decoration: underline;
}

.action__pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@include vp-1199 {
  .action__wrapper {
    grid-template-columns: none;
    grid-template-rows: 462px 211px;
    row-gap: 30px;
    margin-top: 40px;
  }

  .action__card {
    width: 324px;
  }

  .action__grid {
    grid-template-rows: none;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
  }

  .action__year {
    font-size: 28px;
  }

  .action__pic {
    width: 399px;
  }

  .action__text-dop {
    width: 180px;
  }

  .action__title {
    margin: 90px auto 0;
    text-align: center;
    font-size: 43px;
  }

  .action__main {
    padding: 33px 47px 0 43px;
    margin-left: 0px;
  }

  .action__link-dop {
    margin-top: 47px;
  }
}


@include vp-767 {
  .action {
    padding-bottom: 70px;
  }

  .action__wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: none;
  }

  .action__title {
    margin: 63px auto 42px;
    font-size: 32px;
    letter-spacing: 0.96px;
    width: 70px;
  }

  .action__container {
    flex-direction: column;
    width: 290px;
  }

  .action__grid {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }

  .action__card {
    width: 290px;
    padding: 23px 28px 41px;
  }

  .action__year {
    margin: 0 auto;
  }

  .action__cost {
    margin: 0 auto;
  }

  .action__text {
    text-align: center;
    margin: 19px auto 30px;
  }

  .action__link {
    font-size: 14px;
    margin: 0 auto;
  }

  .action__text-dop {
    margin: 9px auto 0;
    text-align: center;
  }

  .action__link-dop {
    margin: 26px auto 0;
    width: auto;
    text-align: center;
  }

  .action__title-dop {
    margin-top: 10px;
    text-align: center;
    width: auto;
  }

  .action__main {
    padding: 33px 46px 46px 43px;
    margin-left: 0px;
  }
}
