.ask {
  background-color: #F8F9FC;
  padding: 120px 0 120px;
}

.ask__title {
  margin: 0;
  width: 341px;
  color: #102654;
  font-family: $ff-alumni;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.62px;
}

.ask__list {
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
}

.ask__item {
  width: 260px;
  border: 1px solid rgba(16, 38, 84, 0.20);
  padding: 18px 88px;
  text-align: center;
  text-align: center;
  font-family: $ff-roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  background: none;
}

.ask__item--checked {
  background: var(--1, linear-gradient(151deg, #ED0233 0%, #003EB7 100%));
  border: none;
}

.ask__link {
  width: 100px;
  margin: 0 auto;
  color: #102654;

}

.ask__link--checked {
  color: #ffffff;
}

.ask__card {
  color: #102654;
  font-family: $ff-roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.ask__tabs{
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-column-gap: 40px;
  margin-top: 40px;
}

@include vp-1199 {
  .ask__container {
    flex-direction: column;
  }

  .ask__list {
    flex-direction: row;
  }

  .ask__item {
    width: 178px;
    padding: 18px 33px;
  }
}
