.ask {
  background-color: #F8F9FC;
  padding: 120px 0 69px 0;
}

.ask__title {
  margin: 0;
  margin-left: 19px;
  width: 341px;
  color: #102654;
  font-family: $ff-alumni;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.62px;
}

.ask__list {
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
}

.ask__item {
  width: 260px;
  border: 2px solid #102654;
  padding: 18px 88px;
  text-align: center;
  text-align: center;
  font-family: $ff-roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  background: none;
}

.ask__link {
  width: 100px;
  margin: 0 auto;
  color: #102654;

}

.ask__answer{
  margin: 15px 0;

}

.ask__card {
  color: #102654;
  font-family: $ff-roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.ask__tabs {
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-column-gap: 59px;
  margin-top: 37px;
}

@include vp-1199 {
.ask{
  padding: 70px 0 69px;
}

  .ask__list {
    flex-direction: row;
  }

  .ask__tabs {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 41px;
  }

  .ask__item {
    width: 178px;
    padding: 18px 30px;
  }

  .ask__link {
    font-weight: 500;
  }

  .ask__title{
    letter-spacing: 1.5px;
    margin: 11px 0 0px 206px;
    font-size: 41px;
  }
}

@include vp-767{
.ask__title{
  font-size: 32px;
  letter-spacing: 0.96px;
  margin: 0 auto;
  width: 210px;
}

.ask__list{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.ask__item{
  width: 135px;
  padding: 18px 0px;
}

.ask__card{
  width: 90%;
  font-size: 18px;
}
}

