.cards {
  display: flex;
  width: 100%;
  padding: 0;
  margin: 38px auto 0;
  gap: 42px;
  list-style-type: none;
  padding: 0;
  box-sizing: border-box;
}

.cards__item {
  width: 400px;
  background: #fff;
  padding: 63px 0 56px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.cards__item--active {
  border: 7px solid transparent;
  border-image: linear-gradient(90deg, #B80027 0%, #003D85 75%);
  border-image-slice: 1;
  padding-top: 59px;
}

.cards__item--5000 {
  background-image: url('../img/svg/5000.svg');
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 18px;
}

.cards__item--1700 {
  background-image: url('../img/svg/1700.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.cards__item--2700 {
  background-image: url('../img/svg/2700.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.cards__title {
  width: 180px;
  margin: 0 auto;
  color: #102654;
  text-align: center;
  font-family: $ff-roboto;
  font-size: 27px;
  font-style: normal;
  font-weight: 700;
  line-height: 25.641px;
}

.cards__description {
  width: 112px;
  margin: 10px auto 0;
  font-size: 15px;
  color: #102654;
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
}

.cards__cost {
  color: #103AAE;
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  font-size: 59px;
  width: 183px;
  margin: 67px auto 0;
}

.cards__link {
  width: 210px;
  color: #102654;
  font-family: Roboto Condensed;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  border: 2px solid #102654;
  padding: 26px 44px;
  margin-top: 32px;
}

.cards__link--active {
  background: var(--1, linear-gradient(151deg, #ED0233 0%, #003EB7 100%));
  color: #ffffff;
  border: none;
}

.cards__link--active:hover {
  background: #ffffff;
}

@include vp-1199 {
  .cards {
    flex-direction: column;
    width: 100%;
    margin: 42px auto 0;
    gap: 40px;
  }

  .cards__item {
    width: 445px;
    margin-left: 118px;
    padding: 65px 0 67px 0;
  }

  .cards__description {
    margin: 13px 5px 0px 0px;
  }

  .cards__cost {
    margin: 67px 0px 0px 17px;
  }

  .cards__link {
    padding: 24px 44px;
    margin-top: 34px;
  }

  .cards__item--center {
    padding: 60px 0 60px;
  }
}

@include vp-767 {
  .cards {
    margin: 33px auto 0;
    gap: 22px;
  }

  .cards__item {
    width: 100%;
    margin: 0;
    padding: 50px 0 67px;
  }

  .cards__title {
    font-size: 22px;
    width: 159px;
  }

  .cards__cost {
    font-size: 48px;
    width: 151px;
  }

  .cards__description {
    margin: 9px 0px 0 0;
    font-size: 16px;
  }

  .cards__cost {
    margin: 53px 0 0 23px;
  }

  .cards__rub {
    width: 24px;
    height: 33px;
  }

  .cards__link {
    padding: 24px 0px 25px;
    margin-top: 31px;
    width: 206px;
    text-align: center;
  }

  .cards__item--center {
    padding: 43px 0 48px;
    margin-bottom: 13px;
  }
}
