.cards {
  display: flex;
  margin: 0 auto;
  margin-top: 59px;
  gap: 40px;
  list-style-type: none;
  width: 1115px;
  padding: 0;
}

.cards__item {
  width: 345px;
  background: #ffffff;
  padding: 68px 66px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards__item--active {
  border: 7px solid transparent;
  border-image: linear-gradient(90deg, #B80027 0%, #003D85 75%);
}

.cards__item--5000 {
  background-image: url('../img/svg/5000.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.cards__title {
  width: 180px;
  margin: 0 auto;
  color: #102654;
  text-align: center;
  font-family: $ff-roboto;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 28.641px;
}

.cards__description {
  width: 112px;
  margin: 0 auto;
  margin-top: 22px;
  color: #102654;
  font-family: $ff-roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.cards__cost {
  color: #103AAE;
  font-family: $ff-roboto;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  width: 183px;
  margin: 0 auto;
  margin-top: 96px;
}

.cards__link {
  width: 210px;
  color: #102654;
  font-family: Roboto Condensed;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  border: 2px solid #102654;
  padding: 27px 44px;
  margin-top: 59px;
}

.cards__link--active {
  background: var(--1, linear-gradient(151deg, #ED0233 0%, #003EB7 100%));
  color: #ffffff;
  border: none;
}
