.comment__swiper {
  position: relative;
  width: 560px;
}

.comment__scroll {
  position: relative;
  width: 580px;
  margin: 0 auto;
  margin-top: 37px;
  margin-bottom: 120px;
}

.comment__title {
  width: 155px;
  color: #102654;
  font-family: $ff-alumni;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.62px;
  margin: 120px auto 0;
}

.comment__slide {
  display: grid;
  grid-template-columns: 90px 355px;
  column-gap: 28px;
  background-color: #1C3374;
  padding: 36px 0 54px 52px;
  width: 560px;
}

.comment__figure {
  background: none;
}

.comment__text {
  width: 355px;
  color: #FFF;
  font-family: $ff-roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.comment__pic {
  margin: 24px 0px 0px 9px;
  width: 84px;
}

.comment__name {
  width: 135px;
  color: #FFF;
  font-family: $ff-roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  margin: 18px 0 0 0;
}

.comment__description {
  font-family: $ff-roboto;
  width: 330px;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  margin: 12px 0 0;
}


@include vp-1199 {
  .comment__title {
    letter-spacing: 1.4px;
    margin: 92px 0 0 277px;
    font-size: 42px;
  }

  .comment__scroll{
    margin: 40px auto 100px;
  }

  .comment__swiper{
    width: 566px;
  }
}

@include vp-767 {
  .comment__title {
    margin: 66px auto 0;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0.96px;
  }

  .comment__swiper {
    width: 226px;
  }

  .comment__scroll {
    width: 290px;
  }

  .comment__figure {
    margin: 0 auto;
  }

  .comment__slide {
    width: 226px;
    display: flex;
    flex-direction: column;
    width: 226px;
    padding: 48px 25px 36px;
    position: relative;
  }

  .comment__description {
    width: 176px;
    text-align: center;
    line-height: 22px;
    margin: 16px 0 0;
  }

  .comment__pic {
    position: absolute;
    top: 25px;
    left: 36px;
    width: 68px;
    height: 68px;
  }

  .comment__name {
    margin: 0 0 0 95px;
    width: 85px;
  }

  .comment__scroll {
    margin: 41px auto 70px;
  }

}
