.gym__container {
  display: grid;
  grid-template-columns: 415fr 660fr;
  gap: 85px;
  padding-top: 120px;

}

.gym__wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.gym__description {
  width: 355px;
  color: #102654;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: $ff-roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  margin: 0;
  margin-top: 55px;
}

.gym__title {
  width: 323px;
  color: #102654;
  font-family: $ff-alumni;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.44px;
  margin: 0;
  margin-top: 49px;
}

.gym__area {
  width: 310px;
  margin: 0;
  margin-top: 25px;
  color: #102654;
  font-family: $ff-roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

.gym__description--second {
  margin: 10px 0 0;
}

.gym__media {
  position: relative;
}

@media (max-width: 1199px) {
  .gym__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    gap: 50px;
  }

  .gym__title {
    margin: 0;
    font-size: 42px;
    letter-spacing: 1.26px;
  }
.gym__wrapper{
  margin: 0 auto;
  align-items: center;
}
.gym__area{
  margin-top: 6px;
  font-size: 18px;
}

.gym__description{
  width: 580px;
  font-size: 16px;
  text-align: center;
}

.gym__description--second{
  display: none;
}

}
