.gym__container {
  display: grid;
  grid-template-columns: 415fr 660fr;
  gap: 85px;
  padding-top: 120px;

}

.gym__wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 78px;
}

.gym__description {
  width: 355px;
  color: #102654;
  font-family: $ff-roboto;
  font-style: normal;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  margin: 39px 0 0;
}

.gym__title {
  width: 323px;
  color: #102654;
  font-family: $ff-alumni;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.44px;
  margin: 0;
  margin: 39px 0 0;
}

.gym__area {
  width: 310px;
  margin: 9px 0 0;
  color: #102654;
  font-family: $ff-roboto;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}

.gym__description--second {
  margin: 9px 0 0;
}

.gym__media {
  position: relative;
}

@include vp-1199 {
  .gym__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    gap: 50px;
  }

  .gym__title {
    margin: 0;
    font-size: 42px;
    letter-spacing: 1.26px;
  }

  .gym__wrapper {
    margin: 0 0px 0px 47px;
    align-items: center;
  }

  .gym__area {
    margin: 0px 15px 0 0;
    font-size: 18px;
  }

  .gym__description {
    width: 505px;
    font-size: 16px;
    text-align: center;
    margin: 35px 0 0 -49px;
  }

  .gym__description--second {
    display: none;
  }
}

@include vp-767 {
  .gym__wrapper {
    align-items: flex-start;
  }

  .gym__container {
    padding-top: 70px;
  }

  .gym__title {
    font-size: 32px;
    width: 211px;
    letter-spacing: 0.96px;
  }

  .gym__area {
    width: 279px;
    font-size: 16px;
  }

  .gym__description {
    font-size: 14px;
    width: 258px;
    text-align: left;
  }
}
