.gym__container {
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
  margin-bottom: 235px;
  }

.gym__wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.gym__description {
  width: 355px;
  color: #102654;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: Roboto Condensed;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  margin: 0;
  margin-top: 55px;
}

.gym__title {
  width: 323px;
  color: #102654;
  font-family: Alumni Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.44px;
  margin: 0;
  margin-top: 49px;
}

.gym__area {
  width: 279px;
  margin: 0;
  margin-top: 25px;
  color: #102654;
  font-family: Roboto Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

.gym__description--second {
  margin: 10px 0 0;
}

.gym__video{
  width: 55.1515151515%;
  margin: -113px 0 0 -63px;
}
