.main-header {
  border: 1px solid rgba(0, 0, 0, 0.20);
  background: conic-gradient(from 145deg at 16% 39%, #003D85 32deg, #B80027 313deg, #003D85 360deg);
  flex-shrink: 0;
  min-height: 658px;
}

.main-header__wrapper {
  margin: 0;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.main-header__link {
  color: #ffffff;
  font-family: $ff-alumni;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.72px;
}

.main-header__link--tel {
  font-size: 26px;
}

.main-header__image {
  display: flex;
  justify-content: space-between;
  position: relative;
  color: #ffffff;
  width: 975px;
}

.main-header__container {
  display: flex;
}

.main-header__list {
  list-style-type: none;
  text-align: right;
  font-family: $ff-roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  margin: 0;
  padding: 0;
  margin-top: 257px;
}

.main-header__description {
  font-family: $ff-alumni;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.44px;
  width: 133px;
}

.main-header__title {
  text-align: right;
  font-family: $ff-alumni;
  font-size: 92px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 4.6px;
  width: 298px;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 40px;
}

.main-header__town {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  flex-shrink: 0;
}

.main-header__button {
  width: 260px;
  color: #ffffff;
  font-family: $ff-roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  padding: 24px 56px;
  text-align: center;
  border: 4px solid #fff;
}


@media (max-width: 1199px) {
  .main-header {
    min-height: 554px;
  }

  .main-header__picture {
    width: 324px;
    height: 390px;
  }

  .main-header__title {
    width: 200px;
    letter-spacing: 3.6px;
    font-size: 72px;
  }

  .main-header__image {
    width: 670px;
    margin: 0 auto;
  }

  .main-header__list {
    margin: auto 0;
    width: 125px;
    font-size: 14px;
  }

  .main-header__town {
    align-items: flex-end;
    margin-left: -25px;
  }

  .main-header__button {
    padding: 24px 33px;
    width: 220px;
  }

  .main-header__description {
    font-size: 34px;
    letter-spacing: 1.02px;
    width: 60px;
  }

}
