.main-footer {
  background-color: #030A1A;

}

.main-footer__link {
  color: #ffffff;
  font-family: Alumni Sans;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.52px;
}

.main-footer__wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 44px 0 32px;
}

.main-footer__list {
  display: flex;
  gap: 40px;
  list-style-type: none;
  padding: 0;
}

.main-footer__social {
  display: flex;
  gap: 20px;
  padding: 0;
}

@include vp-1199 {
  .main-footer__list {
    gap: 30px;
  }

  .main-footer__social {
    gap: 15px;
  }
}

@include vp-767 {
  .main-footer__wrapper {
    gap: 34px;
    flex-wrap: wrap;
    position: relative;
  }

  .main-footer__list {
    display: block;
    margin: 0;
    gap: 73px;
    column-count: 2;
  }

  .main-footer__link {
    position: absolute;
    top: 45px;
    left: 0px;
    width: 68px;
    font-size: 20px;
  }

  .main-footer__list li:first-child {
    margin-top: 55px;
  }

}
