.modern {
  display: flex;
  flex-direction: column;
  background-color: #1C3374;
  width: 240px;
  align-items: center;
  gap: 0;
  color: #ffffff;
  font-family: $ff-roboto;
  font-style: normal;
  margin: 0 auto;
  grid-column: 2/3;
  grid-row: 1/3;
}

.modern__number {
  width: 130px;
  font-size: 74px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  margin: 55px 0 0px 12px;
}

.modern__title {
  font-size: 26px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  margin-top: 45px;
}

.modern__text {
  width: 190px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  margin: 41px 0 0 0;
}

@include vp-1199 {
  .modern {
    width: 442px;
    padding: 29px 0px;
    gap: 0;
    grid-column: 1/3;
    grid-row: 2/3;
    margin-bottom: 4px;
  }

.modern__number{
  margin: 6px 0 0 11px;
}

.modern__title{
  margin-top: 6px;
  font-size: 22px;
}

.modern__text{
  margin: 19px 0 8px;
}
}

@include vp-767 {
  .modern {
    grid-column: 1;
    grid-row: 3;
    width: 100%;
  }

  .modern__number{
    margin: 9px 0 0 0px;
  }

  .modern__title{
    margin-top: 3px;
  }

  .modern__text{
    margin: 13px 0 13px;
  }
}
