.month__item {
  width: 107px;
  color: rgba(16, 38, 84, 0.50);
  font-family: $ff-roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.month__item--active {
  color: #102654;
  position: relative;
}

.month__item--active::after {
  position:absolute;
  content: "";
  top: 50px;
left: 0;
  width: 75px;
  height: 2px;
  background-color:#D10A42; ;
}
