.navigation__link {
  color: #ffffff;
  font-family: Roboto Condensed;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 74px;
}


@include vp-767 {
  .navigation__item {
    margin-top: 30px;
  }
}
