.navigation__link {
  color: #ffffff;
  font-family: $ff-roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 74px;
}

.navigation__link:hover {
  text-decoration: underline;
}

.navigation__link:focus {
  border: 1px solid #ffffff;
  text-decoration: none;
  border-radius: 3px;
}

@include vp-767 {
  .navigation__item {
    margin-top: 16px;
  }

  .navigation__link {
    font-size: 16px;
  }
}
