.people__title {
  color: #102654;
  font-family: $ff-alumni;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.62px;
  margin-top: 106px;
  text-align: center;
}

.people__slider {
  position: relative;
  margin-top: 48px;
}

@include vp-1199 {
  .people__title{
    font-size: 42px;
    letter-spacing: 1.26px;
    margin-top: 100px;
  }

  .people__slider{
    margin-top: 31px;
    padding-left: 56px;
    padding-right: 56px;
  }
}

@include vp-767{
.people__title{
  margin-top: 63px;
  font-size: 32px;
  letter-spacing: 1px;
}

.people__slider{
  margin-top: 42px;
    padding-left: 10px;
    padding-right: 10px;
}
}

