.slider {
  position: relative;
  touch-action: pan-y;
  padding: 0 60px;
}

.slider__body {
  overflow: hidden;
}

.slider__body--shadow {
  box-shadow: 0 0 40px rgba(28, 51, 116, .2)ж
}

.slider__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: transform 0.3s ease;
  transform: translate3d(-3300px, 0px, 0px);
  transition-duration: 0ms;
}

.slider__item {
  flex-shrink: 0;
  max-width: 100%;
  width: 260px;
}

.slider__slide {
  height: 100%;
  min-height: 242px;
  margin: 0;
}

.slider__control {
  position: absolute;
  top: 50%;
  width: 24px;
  height: 36px;
  padding: 0;
  background-color: transparent;
  border: 0;
  transform: translateY(-50%);
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.slider__control:focus-visible,
.socials__link:focus-visible,
.tabs__control:focus-visible {
  opacity: 0.8;
}

@supports not selector(:focus-visible) {
  .slider__control.focus-visible:focus {
    opacity: 0.8;
  }
}

.slider__control::before {
  content: "";
  position: absolute;
  top: 6px;
  width: 23px;
  height: 23px;
  border-bottom: 1px solid #afafaf;
  border-left: 1px solid #afafaf;
}

.slider__control--prev {
  left: 0;
}

.slider__control--prev::before {
  left: 8px;
  transform: rotate(45deg);
}

.slider__control--next {
  right: 0;
}

.slider__control--next::before {
  right: 8px;
  transform: rotate(-135deg);
}

.slider.no-js .slider__list,
.socials {
  flex-wrap: wrap;
  gap: 40px;
}

.slider.no-js .slider__control {
  display: none;
}
