.swiper-button {
  position: absolute;
  top: 50%;
  width: 24px;
  height: 36px;
  padding: 0;
  background-color: transparent;
  border: 0;
  transform: translateY(-50%);
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.swiper-button:focus-visible,
.socials__link:focus-visible,
.tabs__button:focus-visible {
  opacity: 0.8;
}

.swiper-button::before {
  content: "";
  position: absolute;
  top: 6px;
  width: 23px;
  height: 23px;
  border-bottom: 1px solid #afafaf;
  border-left: 1px solid #afafaf;
}

.swiper-button--prev {
  left: -42px;
  top: 48%;
}

.swiper-button--prev-s {
  right: -50px;
}

.swiper-button--prev::before {
  left: 8px;
  transform: rotate(45deg);
}

.swiper-button--next {
  right: -43px;
  top: 48%;
}

.swiper-button--next-s {
  right: -50px;
}

.swiper-button--next::before {
  right: 8px;
  transform: rotate(-135deg);
}

.swiper.no-js .swiper__list,
.socials {
  flex-wrap: wrap;
  gap: 40px;
}

.swiper.no-js .swiper-button {
  display: none;
}

@include vp-1199 {
  .swiper-slide {
    width: 268px;
  }

  .swiper__button--prev {
    left: -3px;
    top: 48%;
  }

  .swiper__button--next {
    right: -3px;
    top: 48%;
  }

  .swiper__button--prev-s {
    left: -53px;
  }

  .swiper__button--next-s {
    right: -53px;
  }
}

@include vp-767 {
  .swiper__button {
    width: 12px;
    height: 12px;
  }

  .swiper__button--prev {
    left: -5px;
    top: 51%;
  }

  .swiper__button--next {
    right: -5px;
    top: 51%;
  }


  .swiper__button::before {
    width: 12px;
    height: 12px;

  }

  .swiper__button--prev {
    width: 12px;
    height: 12px;
  }

}
