.swiper__button {
  position: absolute;
  top: 50%;
  width: 24px;
  height: 36px;
  padding: 0;
  background-color: transparent;
  border: 0;
  transform: translateY(-50%);
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.swiper__button:focus-visible,
.socials__link:focus-visible,
.tabs__button:focus-visible {
  opacity: 0.8;
}

.swiper__button::before {
  content: "";
  position: absolute;
  top: 6px;
  width: 23px;
  height: 23px;
  border-bottom: 1px solid #afafaf;
  border-left: 1px solid #afafaf;
}

.swiper__button--prev {
  left: -60px;
}

.swiper__button--prev::before {
  left: 8px;
  transform: rotate(45deg);
}

.swiper__button--next {
  right: -60px;
}

.swiper__button--next::before {
  right: 8px;
  transform: rotate(-135deg);
}

.swiper.no-js .swiper__list,
.socials {
  flex-wrap: wrap;
  gap: 40px;
}

.swiper.no-js .swiper__button {
  display: none;
}

@media (max-width: 1199px) {
  .swiper {
    width: 665px;
  }

  .swiper-slide {
    width: 268px;
  }

  .swiper__button--prev {
    left: -32px;
  }

  .swiper__button--next {
    right: -32px;
  }
}
