.tickets {
  background: #F8F9FC;
  padding-top: 120px;
  padding-bottom: 120px;
  position: relative;
  z-index: -2;
  overflow: hidden;
}

.tickets::before {
  position: absolute;
  content: "";
  background-image: url("../img/round.png");
  right: -181px;
  bottom: -148px;
  z-index: -1;
  width: 470px;
  height: 494px;
  background-size: cover;
  background-repeat: no-repeat;
}

.tickets__title {
  margin: 0 auto;
  color: #102654;
  font-family: $ff-alumni;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.62px;
  width: 230px;
}

.tickets__list {
  display: flex;
  gap: 46px;
  width: 416px;
  list-style-type: none;
  margin: 0 auto;
  margin-top: 25px;
  padding: 0;
  padding-bottom: 20px;
  gap: 46px;
  position: relative;
  border-bottom: 2px solid rgba(120, 120, 120, 0.20);
}

@media (max-width: 1199px) {
  .tickets::before {
    right: -107px;
    bottom: -126px;
  }
}
