.video {
  position: relative;
  padding-bottom: 34.64%;
  background-color: #000000;
  background-size: cover;
  width: 364px;
  height: 0;
  top: -115px;
  left: -65px;
}

.video__media {
  width: 364px;
  height: 241px;
}

.video__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.video__button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  border: none;
  transform: translate(-50%, -50%);
  background: none;
  padding: 0;
  cursor: pointer;
  background-image: url("../img/svg/circle.svg");
}

.video--enabled {
  cursor: pointer;
}

.video--enable .video__button {
  display: block;
}

.video__click {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 72px;
  height: 72px;
  background: linear-gradient(44.89deg, #003d85 25.38%, #b80027 74.89%);
  border-radius: 50px;
}

.video__svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  fill: #ffffff;
}

@include vp-1199 {
  .video__img,
  .video {
    width: 266px;
    height: 167px;
    padding: 0;
  }

  .video {
    top: -82px;
    left: 197px;
  }

  .video__media {
    width: 266px;
    height: 167px;
  }

  .video__click {
    width: 52px;
    height: 52px;
  }

  .video__button {
    background: none;
    border-radius: 50%;
    border: 1px solid;
    border-color: #b80027;
    width: 73px;
    height: 73px;
  }
}

@include vp-767 {
  .video {
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 40px;
  }

  .video__img {
    width: 100%;
    height: 100%;
  }

  .video__button {
    width: 73px;
    height: 73px;
  }

  .video__click {
    width: 53px;
    height: 53px;
  }
}
